.msg{
    font-size: 1.5rem;
}
.form{
    width: 40%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label{
        font-size: 1.2rem;
    }
    input{
        border: none;
        height: 3rem;
        border-radius: 0.5rem;
        outline: none;
        padding-left: 1rem;
    }
    textarea{
        border: none;
        height: 5rem;
        border-radius: 0.25rem;
        outline: none;
        padding-left: 1rem;
        padding-top: 0.5rem;
        resize: none;
    }
    button{
        width: 15rem;
        height: 3rem;
        border: none;
        border-radius: 0.25rem;
        background-color: var(--blue-color);
        color: var(--white);
        font-size: 1.2rem;
    }
}